.weapon-card-article{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 14px;
    height: 340px;
    width: 230px;
    background-color: beige;
    padding: 0.5rem;
}

.weapon-card-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.weapon-card-div-back{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.weapon-card-ul{
    list-style: none;
}

.weapon-card-name{
    text-align: center;
    color: #C7A663;
}

.weapon-card-img{
    width: 180px;
}

.weapon-card-h4{
    color: #C7A663;
}


@media (min-width: 768px){
    .weapon-card-article{
        height: 400px;
        width: 300px;
    }

    .weapon-card-name{
        font-size: 30px;
    }

    .weapon-card-img{
        width: 200px;
    }

    .weapon-card-h4{
        font-size: 25px;
        text-align: center;
    }

    .weapon-card-li{
        font-size: 20px;
        text-align: center;
    }
}